<apex:page docType="html-5.0" applyHtmlTag="false" showHeader="false" sidebar="false" standardStylesheets="false" controller="TimeSheet_v3" showQuickActionVfHeader="false">
  <html lang="en">
  <head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <!--<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="script"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />-->
  <body>
  <div id="app">
    <donor-app></donor-app>
  </div>
  <script id="donor-app-template" type="text/x-template">
    <div>
      <br>
      <br>
      <br>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><h1 class="brand">Blood Bank</h1></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><router-link to="search" class="nav-link" activeClass="active" exact>Search</router-link></li>
              <li><router-link to="register" class="nav-link" activeClass="active" exact>Register</router-link></li>
              <li><router-link to="posts" class="nav-link" activeClass="active" exact>Post A Request</router-link></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li v-if = 'logged'><router-link to="/" class="nav-link" activeClass="active" @click.native="logout"exact>Logout</router-link></li>
              <li v-if = '!logged'><router-link to="/login" class="login nav-link" activeClass="active" exact>Login</router-link></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div>
        <router-view></router-view>
      </div>
    </div>
  </script>
  <script id="home-template" type="text/x-template">
    <div>
      <h1 class="hello">
        Welcome to Blood Donor Application
      </h1>
    </div>
  </script>
  <script id="register-template" type="text/x-template">
    <div>
      <donor-registration></donor-registration>
    </div>
  </script>
  <script id="donor-registration-template" type="text/x-template">
    <div class = "container">
      <hr />
      <div class="row card">
        <div class="col-md-12 card-block">
          <h1 class="card-title"> Register Donor </h1>
          <hr />
          <form id="myForm" @submit.prevent="donorRegistration()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="firstName" class="col-sm-2 col-form-label col-form-label-lg">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="firstName" placeholder="First Name" v-model="donor.firstName">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="occupation" class="col-sm-2 col-form-label col-form-label-lg">Occupation</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="occupation" placeholder="occupation" v-model="donor.occupation">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="bloodGroup" class="col-sm-2 col-form-label col-form-label-lg">Blood Group</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="bloodGroup" placeholder="Blood Group" v-model="donor.bloodGroup">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="form-check-label col-sm-2 col-form-label-lg">Martial Status</label>
                  <div class="col-sm-5">
                    <input type="radio" name="options" id="married" autocomplete="off" v-model="donor.martial_status" value= "married"> Married
                    <input type="radio" name="options" id="unmarried" autocomplete="off" v-model="donor.martial_status" value= "unmarried"> Un Married
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="lastName" class="col-sm-2 col-form-label col-form-label-lg">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="lastName" placeholder="Last Name" v-model="donor.lastName">
                  </div>
                </div>
                <div class="form-group dd row">
                  <label for="dob" class="col-sm-2 col-form-label col-form-label-lg">Date Of Birth</label>
                  <div class="col-sm-10">
                    <datepicker class="datepicker" format="d MMM yyyy"placeholder="Date of Birth" v-model="donor.dob"></datepicker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="city" class="col-sm-2 col-form-label col-form-label-lg">City</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-lg" id="city" placeholder="City" v-model="donor.city">
                  </div>
                </div>
              </div>
              <hr />
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Personal Contact Details</h3>
                    <hr />
                    <div class="form-group row">
                      <label for="email" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control form-control-lg" id="p_email" placeholder="email" v-model="donor.p_email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="phone" class="col-sm-2 col-form-label col-form-label-lg">Phone</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg" id="p_phone" placeholder="phone" v-model="donor.p_phone">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h3 class="card-title">Emergency Contact Details</h3>
                    <hr />
                    <div class="form-group row">
                      <label for="email" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control form-control-lg" id="e_email" placeholder="email" v-model="donor.e_email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="phone" class="col-sm-2 col-form-label col-form-label-lg">Phone</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control form-control-lg" id="e_phone" placeholder="phone" v-model="donor.e_phone">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div>
              <button type="submit"class="btn btn-success btn-lg">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </script>
  <script id="search-template" type="text/x-template">
    <div>
      <search-donor></search-donor>
    </div>
  </script>
  <script id="search-donor-template" type="text/x-template">
    <div class = "container">
      <hr />
      <div class="row card">
        <div class="col-md-12 card-block">
          <h1 class="card-title"> Search Donor </h1>
          <form id="search" @submit.prevent = "searchDonor()">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 ">
                <div class="form-group row">
                  <label for="bloodGroup" class="col-sm-2 col-form-label col-form-label-lg">Blood Group</label>
                  <div class="col-sm-10">
                    <multiselect v-model="bloodGroup" :options="blood_groups"
                                 :options-limit = "2"
                                 :limit="1"></multiselect>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="city" class="col-sm-2 col-form-label col-form-label-lg">City</label>
                  <div class="col-sm-10">
                    <multiselect v-model="city" :options="cities"
                                 :options-limit = "2"
                                 :limit="1"></multiselect>
                  </div>
                </div>
              </div>
            </div>
            <button type = "submit" class="btn btn-success">Search</button>
            <button @click="reset" class="btn btn-warning">Reset</button>
          </form>
        </div>
      </div>
      <hr />
      <div>
        <grid class="grid"
              :data="tableData"
              :columns="headers"
              :rowsPerPage="3"
              @clickRow="rowClick">
        </grid>
      </div>
      <div v-if="show">
        <show-modal :show.sync="show" :data="rowData" v-on:show-details="showDetails"></show-modal>
      </div>
    </div>
  </script>
  <script id="show-modal-template" type="text/x-template">
    <div class="modal-mask" @click="close" v-show="show" transition="modal">
      <div class="modal-container"  @click.stop>
        <div class="modal-header">
          <h3>Donor Contact Information</h3>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-6">
                <h3>Personal Details</h3>
                <p>Email : <span>{{data.p_email}}</span></p>
                <p>Phone: <span>{{data.p_phone}}</span></p>
                <h3>Emergency Details</h3>
                <p>Email : <span>{{data.e_email}}</span></p>
                <p>Phone: <span>{{data.e_phone}}</span></p>
                 <div class="checkbox">
                   <label>
                     <input type="checkbox" v-model="data.recentDonor.exists" v-on:change="recentDonor($event.target)"> Mark as Recent Donor
                   </label>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-primary"  @click="savePost()">Ok</button>
          <button class="btn btn-danger"  @click="close()">cancel</button>
        </div>
      </div>
    </div>
  </script>
  <script>
    window.basePath = 'BloodDonor/';
  </script>
  <!-- built files will be auto injected -->
  </body>
  <script type="text/javascript" src="./src/actions.js"></script>
  <script type="text/javascript" src="./src/common.js"></script>
  <script type="text/javascript" src="./src/data.js"></script>
  </html>
</apex:page>
